span{
    text-decoration: none;
    color: white;
    padding: 20px;
}

span:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.anything_menu_Download{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    display: block;
}

.anything_menu_Download:hover .dropdown-content{
    display: block;
}
  

.back_img{
    filter: brightness(30%);
}


form{
    margin: 0;
    padding: 0px;
    /* position: relative;*/
} 

a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover{
    background-color: #d49466;
    border-radius: 4px;
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
    
}

b{
    text-decoration: none;
    color: white;
}

.anything{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000101;
    padding: 4px 12px; 


    /* position: relative; */
    /* display: inline-block; */
}

.anything_logo{
    font-size: 24px;
    color: var(--text-color);
}

.anything_logo{
    color: #d49466;
}

.anything_menu{
    display: flex;
    list-style: none;
    padding-left: 0;


    
}

.anything_menu li:hover{
    background-color: #d49466;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.anything_menu li{
    padding: 4px 8px;

    
}

.anything_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.anything_icons li{
    padding: 8px 12px;
}

.anything_menubarbutton{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}


