/* h3{
    top: -1200px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
} */

.img1 > img1{

}

.img1 > img{
    position: relative;
    top: -1700px;
    right: -100px;
}

.img2{
    position: relative;
    margin-top: -2450px;
    margin-left: 800px;
    /* margin-right: -100px; */
    z-index: 1;
}

.img2:hover{
    background-color: bisque;
    border-radius: 5px;
    /* padding: 4px 2px; */
    width: 405px;
    height: 203x;
}

.img3>img{
    position: relative;
    top: -1000px;
    right: -100px;
}

.img4>img{
    position: relative;
    top: -500px;
    right: -100px;
}


span{
    text-decoration: none;
    color: white;
    padding: 20px;
}

span:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.anything_menu_Download{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    display: block;
}

.anything_menu_Download:hover .dropdown-content{
    display: block;
}
  

.back_img{
    filter: brightness(30%);
    right: 30px;
}


form{
    margin: 0;
    padding: 0px;
    /* position: relative;*/
} 

a{
    text-decoration: none;
    color: white;
    padding: 20px;
    
}

a:hover{
    background-color: #d49466;
    border-radius: 4px;
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
    
}

b{
    text-decoration: none;
    color: white;
}


.anything{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #000101;
    padding: 4px 12px; 


    /* position: relative; */
    /* display: inline-block; */
}

.anything_logo{
    font-size: 24px;
    color: var(--text-color);
    color: #d49466;
}



.anything_menu{
    display: flex;
    list-style: none;
    padding-left: 0;


    
}

.anything_menu li:hover{
    background-color: #d49466;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.anything_menu li{
    padding: 4px 8px;

    
}

.anything_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.anything_icons li{
    padding: 8px 12px;
}

.anything_menubarbutton{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}


