html,body {height:100%; margin:0; padding:0;}
header{
    width: 100%; height: 10%; background-color: rgb(62, 49, 180);
}
/*이미지 꽉차게*/
.Background{
    position: fixed; top:0; left:0;
    width: 100vw;
    height: 100vh;
    height:100%; 
    margin:0; 
    padding:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input.arrleft {
    background: url("left.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: fixed; top:50%; left: 0%;
}
input.arrright {
    background: url("right.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: fixed; top:50%; right: 0%;
}
input.arrup {
    background: url("up.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: fixed; top:0%; right: 50%;
}
input.arrdown {
    background: url("down.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: fixed; top:70%; right: 50%;
}
input.nextmessage {
    background: url("right.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: fixed; top: 75%; right: 0%;
}

p{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: unset;
}
#Message{
    border:20px ridge rgb(90, 11, 11);
    border-radius : 5px 40px 80px;
    width: 85%;
    padding: 50px;
    position: fixed; top:80%; 
    font-size: large;
    text-align: left;
    position:fixed; left: 5%;
}
#Name{
    border:5px ridge rgb(90, 11, 11);
    border-radius : 5px 10px 20px;
    width: 8%;
    padding: 10px;
    position: fixed; top:40%; 
    font-size: medium;
    text-align: center;
    position:fixed; top:75%; left: 5%;
}
.character-image {
    width: 600px; 
    height: 800px; 
    position: fixed; 
    top: 50%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    z-index: -1; /
}

#Place{
    border-radius : 50px;
    padding: 30;
    width: 20%;
    position: fixed; top:0%; left: 0%; 
    font-size: medium;
    text-align: center;
}
